<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>fonts</string>
	<key>BuildMachineOSBuild</key>
	<string>15C50</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cmproj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tscproj</string>
			<key>CFBundleTypeName</key>
			<string>Camtasia:mac Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>EditorDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cmrec</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>camrec</string>
			<key>CFBundleTypeName</key>
			<string>Camtasia:mac Recording</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tscproj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tscproj</string>
			<key>CFBundleTypeName</key>
			<string>TechSmith Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string>TSCProjectDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>trec</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>trec</string>
			<key>CFBundleTypeName</key>
			<string>Camtasia Recording</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Camtasia 3</string>
	<key>CFBundleGetInfoString</key>
	<string>3.0.0 Copyright 2006-2016 TechSmith Corporation\nCamtasia中文网(http://www.camtasia.com.cn)独家汉化发布</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Camtasia2_Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Camtasia 2 Help</string>
	<key>CFBundleIconFile</key>
	<string>CamtasiaEditorIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.techsmith.camtasia3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Camtasia 3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleSignature</key>
	<string>CamG</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>98285</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7C68</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15C43</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string>7C68</string>
	<key>GitVersionHash</key>
	<string>764e481bb45570328cc2ed7257c1897483796e2c</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>techsmith.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2006-2016 TechSmith Corporation</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>CamtasiaGoApp</string>
	<key>OSAScriptingDefinition</key>
	<string>CamtasiaGo.sdef</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://techsmithredirect.appspot.com/cmac?target=sparkleappcast&amp;product=camtasiamac&amp;lang=enu&amp;ver=3.0.0&amp;os=mac&amp;code=none</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.techsmith.camtasiarelay</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>relay</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
